<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" xcf"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/style.css" />
        <script src="/jquery-1.7.2.min.js"></script>
        <script src="/javascript.js"></script>
        <title><%= @title %> :: Seedbox</title>
    </head>
    <body>
        <div id="headerRow">
            <div id="header-content">
                <span id="title"><b><a href="/">Seedbox</a></b></span>
                <% if @user != nil %><span id="welcome-message">Hello <b><%= @user.name %></b> | <a href="/settings">Settings</a> | <a href="/user/logout">Logout</a><br><span id="last_login">Credit expires: <%= @user.credit_expires %>&nbsp;&nbsp;<a href="/users/checkout">Buy More</a></span></span><% end %>
            </div>
        </div>
        <div id="menuRow">
            <div id="menu-content">
                <div id="nav-menu">
                    <!--ul>
                        <li><a class="menu-selected" href="#">Dashboard</a></li>
                        <li><a class="menu-unselected" href="info.html">Content</a></li>
                        <li><a class="menu-unselected" href="#">Torrents</a></li>
                    </ul-->
                    <% if @user != nil %><form method="post" action="/torrents/search"><input type="text" name="search" class="searchbox" id="search" placeholder="Torrent search" <% if @search_query != nil %>value="<%= @search_query %>"<%end%>></form><% end %>
                </div>
            </div>
        </div>
        
        <div id="content">
            <!--h1><%= @title %></h1-->
            <%= yield %>
        </div>
    </body>
</html>
